* {
  border: 0;
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
/* flag dimensions */
.flag {
  height: 37.5em;
  width: 56.25em;
  margin-top: 1em;
  z-index: -2;
  transition: all 1s ease-in-out;
  background: linear-gradient(147deg, #063581 40%, #fff 40% 42%, #D21034 42% 58%, #fff 58% 60%, #259543 60% 100%);
}
.sun-circle {
  height: 5.5em;
  width: 5.5em;
  top: 17.5%;
  left: 15%;
  border: solid 0.4em #063581;
  border-radius: 5em;
  position: relative;
}
.sun-ray {
  height: 12.5em;
  width: 12.5em;
  top: -65%;
  left: -65%;
  position: absolute;
  background: #FDCE00;
  transform: rotate(15deg);
  padding:2px;
  z-index: -1;
  clip-path: polygon(62% 5%, 62% 29%, 83% 17%, 71% 38%, 94% 38%, 74% 50%, 94% 62%, 71% 62%, 83% 82%, 62% 71%, 61% 93%, 50% 74%, 38% 93%, 38% 71%, 18% 82%, 29% 62%, 6% 62%, 25% 50%, 6% 38%, 28% 38%, 17% 17%, 37% 28%, 38% 5%, 50% 25%);
}
/* media Queries for reponsiveness of mobile and tablet*/
@media (max-width:768px) {
  .flag{
    height: 18.75em;
    width: 28.5em;
  }
  .sun-circle{
    height: 3em;
    width: 3em;
    border: solid 0.3em #063581;
  }
  .sun-ray{
    height: 6.75em;
    width: 6.75em;
  }
}
@media (max-width:480px) {
  .flag{
    height: 9em;
    width: 14em;
  }
  .sun-circle{
    height: 1.25em;
    width: 1.25em;
    border: solid 0.15em #063581;
  }
  .sun-ray{
    height: 2.65em;
    width: 2.65em;
  }
}