*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
:root{
    --text:#ffffff;
    --bg:#000000;
}

nav{
    display: flex;
    font-size: 1.5em;
    justify-content: space-between;
    background-color: var(--bg);
    color: var(--text);
    padding: 1.5rem;
}

.profile{
    margin: 1.5rem;
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 5rem;
    margin-top: 8em;
}
a{
    color: var(--bg);
    text-decoration: none;
}
li{
    list-style: none;
}

.card-giri , .card-shoaib
{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    box-shadow: 1px 1px 10px black;
    padding: 2em;
    border-radius: 1.5em;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bg);
    color: var(--text);
    padding:2em;
    bottom: 0;
    position: fixed;
    width: 100%;
}
h3{
    text-align: center;
    padding:1em;
}
.card{
    padding: 2em;
    box-shadow: 1px 1px 10px black;
    margin:2em;
    border-radius: 1.5em;  
    line-height: 3em; 
}