*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
:root{
    --lite-text:#ffffff;
    --dark:#000000;
    --background-color:#5050f4;
    --hover-color:#ff0000;
}
nav{
    display: flex;
    font-size: 1.5em;
    justify-content: space-between;
    background-color: var(--background-color);
    color: var(--lite-text);
    padding: 1.5rem;
}
.profile{
    margin: 1rem;
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 5rem;
    margin-top: 4em;
}
a, li{
    text-decoration: none;
    list-style: none;
}
.card-giri , .card-shoaib
{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    box-shadow: 1px 1px 10px var(--background-color);
    padding: 2em;
    border-radius: 1.5em;
}
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--background-color);
    color: var(--lite-text);
    padding:2em;
    bottom: 0;
    position: fixed;
    width: 100%;
}
h2{
    margin-left: 1em;
    color: var(--background-color);
}
.card{
    padding: 2em;
    box-shadow: 1px 1px 5px var(--background-color);
    margin:1em 2em;
    border-radius: 1.5em;  
    line-height: 2em; 
}
.card:hover{
    transform: translateY(-5px);
    transition: all 0.3s ease-in-out;
    box-shadow: 1px 1px 10px var(--dark);
}
.card li{
    list-style:circle;
}
@media (max-width:480px){
    .card-giri , .card-shoaib{
        padding: 2em;
        text-align: center;
        font-weight: bold;
    }
    .profile{
        gap:1em;
    }
    img{
        height: 6em;
        width: 6em;
    }
}