* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
}

:root{
    --bg-color: linear-gradient(135deg, #8e9efc, #a1e3f8);
    --box-bg: rgba(255, 255, 255, 0.3);
    --box-hover: rgba(255, 255, 255, 0.6);
    --reset-bg: #ff4f75;
    --reset-hover: #ff2d5c;
}

body{
    height: 100vh;
    background: var(--bg-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Heading{
    font-size: 60px;
    font-weight: 900;
    color: var(--text-dark);
    letter-spacing: 3px;
    text-shadow: 3px 3px rgba(0,0,0,0.2);
    margin-bottom: 30px;
}

.container{
    display: grid;
    grid-template-columns: repeat(3, 120px);
    justify-content: center;
}

button {
    height: 120px;
    width: 120px;
    background: var(--box-bg);
    font-size: 40px;
    font-weight: 700;
    transition: 0.25s ease;
    box-shadow: 0 4px 12px rgba(0,0,0,0.2);
}

button:hover {
    background: var(--box-hover);
    transform: scale(1.07);
}

button:active {
    transform: scale(1);
}

#reset {
    margin-top: 35px;
    padding: 12px 28px;
    font-size: 22px;
    border: none;
    border-radius: 12px;
    background: var(--reset-bg);
    color: white;
    font-weight: 700;
    transition: 0.3s;
    box-shadow: 0 4px 12px rgba(0,0,0,0.3);
}

#reset:hover {
    background: var(--reset-hover);
    transform: scale(1.2);
}

