:root {
  --color-primary: #0077cc;
  --color-background: #f5f5f5;
  --color-lite:#FFFFFF;
  --color-border: #ddd;
  --color-text: #333;
}
pre {
  background: #f4f4f4;
  padding: 12px;
  overflow-x: auto;
  border-left: 4px solid var(--color-text);
  font-size: 14px;
}

main{
  padding: 2em;
  display: flex;
  flex-direction: column;
  margin: 2em;
}
