*{
    font-family: 'Roboto', sans-serif;
}

body {
    font-family: system-ui, sans-serif;
    background: #f3f4f6;
    padding: 40px;
    line-height: 1.7;
    color: #333;
}

.container {
    max-width: 780px;
    margin: auto;
    background: #fff;
    padding: 35px 40px;
    border-radius: 14px;
    box-shadow: 0 8px 22px rgba(0, 0, 0, 0.08);
}

h2 {
    margin-bottom: 18px;
    font-weight: 650;
    color: #1f1f1f;
}

h3 {
    margin-top: 28px;
    margin-bottom: 12px;
    font-weight: 550;
    color: #444;
}

p {
    margin-bottom: 15px;
}

pre {
    background: #f7f7f7;
    padding: 14px 18px;
    border-radius: 8px;
    overflow-x: auto;
    border: 1px solid #e2e2e2;
    margin-bottom: 18px;
}

code {
    font-family: monospace;
    font-size: 15px;
    color: #c7254e;
    font-weight: 600;
}

a {
    color: #0060df;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Option blocks styling */
.option-block {
    background: #f1f3f5;
    padding: 14px 18px;
    border-left: 4px solid #4a68ff;
    border-radius: 6px;
    margin-bottom: 18px;
}

ul {
    margin-left: 25px;
    margin-top: 8px;
    margin-bottom: 10px;
}

a img{
    height: 1em;
    width: 1em;
}
