body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
}
h1 {
    margin: 1em;
    font-size: 4em;
}
#game {
    width: 300px;
    height: 300px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3,1fr);
}
.cell {
    background: #000000;
    color:#ffffff;
    border: 2px solid #ffffff;
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#status {
    font-size: 20px;
    margin-top: 10px;
}
#resetBtn {
    padding: 10px 20px;
    margin-top: 15px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    background: #222;
    color: white;
    border-radius: 5px;
}
#resetBtn:hover {
    background: #444;
}